.anime-results-grid {
  display: flex;
  flex-wrap: wrap;
  margin: -$gutter;

  &__item {
    width: calc(100% / 3 - #{$gutter} - #{$gutter});
    min-width: 15rem;
    flex-grow: 1;
    margin: $gutter;
  }

  &__loading {
    margin: $gutter;
  }
}
